.aboutMe {
    display: grid;
    grid-template-columns: 50% 1fr;
    width: 90%;
    margin: 50px auto;
    gap: 100px;
    
    @media (max-width: 770px) {
        grid-template-columns: 100%;
    }

    h3 {
        font-size: 1.5rem;
        letter-spacing: 3px;
        line-height: 50px;
    }
    h4 {
        font-style: italic;
    }
    p {
        font-family: "font-2";
        font-size: 1.1rem;
        padding-bottom: 20px;
    }
    h5 {
        font-size: 1.2rem;
        letter-spacing: 3px;
        color: darkgoldenrod;
    }

    h6 {
        font-family: "font-2";
        font-size: 1.2rem;
        font-weight: 900;
        color: #766a6a;
    }
    span {
        font-family: "font-2";
    }
    

    .abilities {
    
        li {
            font-family: "font-2";
            font-size: 1.1 rem;
            line-height: 35px;
            
            img {
                margin-right: 10px;
            }
        }
        
       
    }
}