.aboutMe {
    display: grid;
    grid-template-columns: 50% 1fr;
    width: 90%;
    margin: 50px auto;
    gap: 100px;
    @media (max-width: 770px) {
        grid-template-columns: 100%;
    }

    h3 {
        font-size: 1.5rem;
        letter-spacing: 3px;
        line-height: 50px;
    }
    h4 {
        font-style: italic;
    }
    p {
        font-family: "font-2";
        font-size: 1.1rem;
    }
    

    .abilities {
    
        li {
            font-family: "font-2";
            font-size: 1.1 rem;
        }
        
       
    }
}