.contacts {

    
    @keyframes animatedBackground {
        from {
          background-position: 100% 0;
        }
        to {
          background-position: 0 100%;
        }
    }

    background: url(../assets/img/nightSky2.jpg) right/cover;
    background-position: 0px 0px;
    background-repeat: repeat-y;
    animation: animatedBackground 30s linear infinite alternate;
    min-height: 100vh;
    position: relative;
    
    margin: 50px auto;
    
   
    @media (max-width: 595px) {
        min-height: 70vh;
    }
    &::before {

        content: "";
        position: absolute;
        border-radius: 10px;
        height: 5px;
        width: 100%;
        background: black;
        top: 0;
        
       
        box-shadow:
0 0 8px #fff,
inset 0 0 8px #fff,
0 0 16px #c6e2ff,
inset 0 0 16px #c6e2ff,
0 0 32px #c6e2ff,
inset 0 0 32px #c6e2ff;

    }
  




    h3 {
        letter-spacing: 3px;
        max-width: 90%;
        margin: 0 auto;
        padding-top: 200px;
        @media (max-width: 595px) {
            padding-top: 50px;
        }

       
    }
    .contactContainer {

       display: flex;
       justify-content: space-around;
       flex-wrap: wrap;
            
       img {
    
        
            min-width: 200px;
            margin: 10px;
            border-radius: 150px;
            box-shadow: 0px 0px 8px 1px white;
            opacity: 0;
            transform: translateY(500px);

            @media (max-width: 770px) {
                min-width: 150Px;
            }
            @media (max-width: 406px) {
                min-width: 100Px;
            }
                    
          
        }
        #linkedin {
            transition: 0.5s;
        }
        #github {
            transition: 1s;
        }
        #mail {
            transition: 1.5s;
        }

    }
}