.myWork {
    max-width: 90%;
    margin: 50px auto;

    h4 {
        text-align: center;
        font-size: 3rem;
        
    }
    .integrations {
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background: linear-gradient(160deg, rgba(2, 0, 36, 0.212) 0%, rgba(64,192,224,0.85) 35%, rgba(69, 125, 136, 0.62) 100%);
        border-radius: 30px;
        @media (max-width: 350px) {
            background: none;
         }
        

        img {
            max-width: 100%;
            border-radius: 5px;
        }
        button {
            margin-top: 20px;
            margin-bottom: 20px;
            padding: 5px 20px;
            border-radius: 10px;
            border: none;
            box-shadow: 0 1px 10px rgba(53, 52, 52, 0.411);
            background: rgba(245, 245, 245, 0.74);
            transition: 0.2s;

            &:hover {
                background: black;
                color: whitesmoke;
            }
        }
        & > div {
            display: grid;
            grid-template-rows: 20% 1fr 20%;
            text-align: center;
            flex: 1 0 25%;
            min-width: 250px;
            max-width: 250px; 
            margin: 10px;
            background-color: rgb(43, 187, 223);
            border-radius: 8px;
            padding: 20px 20px 20px;
            box-shadow: 0 1px 10px rgba(53, 52, 52, 0.562);
            opacity: 0;
            gap: 10px;

            span {
                border-radius: 5px;
                height: 150px;
                
            }
              
        }
        #int1 {
            transition: 3s;
            span {
                background: url(../assets/img/bg-slider-06.jpg) center/cover;
            }
        }
        #int2 {
            transition: 4s;
            span {
                background: url(../assets/img/banner.jpg) center/cover;
            }
        }
        #int3 {
            transition: 5s;
            span {
                background: url(../assets/img/bg.jpg) center/cover;
            }
        }
        #int4 {
            transition: 6s;
            span {
                background: url(../assets/img/bggp.jpg) center/cover;
            }
        }
    }
}