.myWork {
    max-width: 90%;
    margin: 50px auto;

    h4 {
        text-align: center;
        font-size: 3rem;
        
    }
    .integrations {
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background:rgba(64, 192, 224, 0.24);
        border-radius: 30px;

        img {
            max-width: 100%;
        }
        button {
            margin-top: 20px;
            padding: 5px 20px;
            border-radius: 10px;
            border: none;
            box-shadow: 0 1px 10px rgba(53, 52, 52, 0.411);
            background: rgba(245, 245, 245, 0.74);
            transition: 0.2s;

            &:hover {
                background: black;
                color: whitesmoke;
            }
        }
        & > div {
            display: grid;
            text-align: center;
            flex: 1 0 25%;
            min-width: 100px;
            max-width: 250px; 
            margin: 10px;
            background-color: rgb(64, 192, 224);
            border-radius: 8px;
            padding: 20px 20px 20px;
            box-shadow: 0 1px 10px rgba(53, 52, 52, 0.411);
            
          
        }
    }
}