nav {
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto 0;
    padding: 20px;
    position: fixed;
    width: 100%;
    height: 80px;
    background: rgb(64, 192, 224);
    border-radius: 50px;
    border: 2px solid grey;
    z-index: 1;
    
    h3 {

        font-size: 2rem;
    }

    
    ul {
        
        display: flex;
        
            li {
                color: black;
                font-size: 1.2rem;
                margin: auto 10px;
                cursor: pointer;
                transition: 0.2s;
    
                &:hover {
                    transform: scale(0.8);
                    color: rgb(6, 10, 247);
                }
            }
    }
}

