@font-face {
    font-family: "font-1";
    src: url(../assets/fonts/Acme-Regular.ttf);
}
@font-face {
    font-family: "font-2";
    src: url(../assets/fonts/Roboto-Regular.ttf);
}
$color-1: linear-gradient(160deg, rgba(2, 0, 36, 0.78) 0%, rgba(64,192,224,1) 35%, rgba(69, 125, 136, 1) 100%);
$color-2: linear-gradient(160deg, rgb(91, 87, 163) 0%, rgba(64,192,224,1) 35%, rgba(69, 125, 136, 1) 100%);
$color-3: linear-gradient(160deg, rgba(2, 0, 36, 0.212) 0%, rgba(64,192,224,0.85) 35%, rgba(69, 125, 136, 0.62) 100%);
$color-4: aliceblue;
$color-5: darkgoldenrod;
$color-6: #7621c5;



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
html {
    scroll-behavior: smooth;
}
body {
    background: rgb(0,0,0);
   
    font-family: "font-1";
    color: aliceblue;

}
footer {
    text-align: center;
    margin-bottom: 20px;
}
#aboutMe {
    padding-top: 50px;
}
#skills {
    padding-top: 90px;
}
#experience {
    padding-top: 50px;
}
#myWork {
    padding-top: 50px;
}
