@font-face {
    font-family: "font-1";
    src: url(../assets/fonts/Acme-Regular.ttf);
}
@font-face {
    font-family: "font-2";
    src: url(../assets/fonts/Roboto-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
html {
    scroll-behavior: smooth;
}
body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 0.212) 0%, rgba(64,192,224,0.85) 35%, rgba(0, 213, 255, 0.616) 100%);
    font-family: "font-1";

}
footer {
    text-align: center;
    margin-bottom: 20px;
}
#aboutMe {
    padding-top: 50px;
}
#skills {
    padding-top: 90px;
}
#experience {
    padding-top: 50px;
}
#myWork {
    padding-top: 50px;
}
