.skills {
    display: grid;
    grid-template-columns: 50% 1fr;
    width: 90%;
    margin: 0 auto;
    border-radius: 50px;
    background: rgb(64, 192, 224);
    box-shadow: 0 1px 10px rgb(26, 23, 23);

    p {
        margin-top: 10px;
    }
    .skillsContainer {
        padding: 20px 50px;

    }

    .logo {

        text-align: center;
        margin: auto;
       
        img {
           
            border-radius: 50px;     
            box-shadow: 0 1px 10px rgb(26, 23, 23);
        }        
    
    }
       
}