.skills {
    display: grid;
    grid-template-columns: 50% 1fr;
    width: 90%;
    margin: 0 auto;
    border-radius: 50px;
    background: $color-3;
    box-shadow: 0px 0px 8px 1px white;
    @media (max-width: 770px) {
        grid-template-columns: 100%;
        padding-bottom: 10px;
    }
    h3 {
        letter-spacing: 3px;
    }
    em {
        color: $color-5;
    }

    span {
        display: flex;
        margin-top: 10px;
    }

    p {
        margin-right: 10px;
        font-family: font-2;
    }

    .skillsContainer {
        padding: 20px 50px;

    }

    .logo {

        text-align: center;
        margin: auto;
       
        img {
           
            border-radius: 50px;     
            box-shadow: 0px 0px 8px 1px white;
            transform: translateX(250%);
            transition: 2s;
            @media (max-width: 350px) {
               width: 250px;
            }
            @media (max-width: 305px) {
                display: none;
             }

        }        
    
    }
       
}