@font-face {
  font-family: "font-1";
  src: url(../assets/fonts/Acme-Regular.ttf);
}

@font-face {
  font-family: "font-2";
  src: url(../assets/fonts/Roboto-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background: rgba(129, 236, 195, 0.295);
  font-family: "font-1";
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto 0;
  padding: 20px;
  position: fixed;
  width: 100%;
  height: 80px;
  background: turquoise;
  border-radius: 50px;
  border: 2px solid grey;
  z-index: 1;
}

nav h3 {
  font-size: 2rem;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li {
  font-size: 1.2rem;
  margin: auto 10px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

nav ul li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #060af7;
}

header {
  padding-top: 150px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 1fr;
      grid-template-columns: 50% 1fr;
  width: 90%;
  margin: 0 auto;
}

header .leftTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .leftTitle h1 {
  font-size: 4rem;
}

header .leftTitle button {
  width: 150px;
  height: 50px;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: "font-2";
  background: #26c7bf;
  border-radius: 20px;
  border-style: none;
  -webkit-box-shadow: 0 1px 10px rgba(26, 23, 23, 0.575);
          box-shadow: 0 1px 10px rgba(26, 23, 23, 0.575);
  cursor: pointer;
  -webkit-transform: 0.2s;
          transform: 0.2s;
}

header .leftTitle button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #060af7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .rightTitle {
  background: url(../assets/img/sorcier.jpg) top/cover;
  width: 300px;
  height: 300px;
  border-radius: 150px;
  margin: 0 auto;
  -webkit-box-shadow: 0 1px 10px rgba(26, 23, 23, 0.836);
          box-shadow: 0 1px 10px rgba(26, 23, 23, 0.836);
}

.aboutMe {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 1fr;
      grid-template-columns: 50% 1fr;
  width: 90%;
  margin: 50px auto;
  gap: 100px;
}

.aboutMe h3 {
  font-size: 1.5rem;
  letter-spacing: 3px;
  line-height: 50px;
}

.aboutMe p {
  font-family: "font-2";
  font-size: 1.1rem;
}

.aboutMe .abilities li {
  font-family: "font-2";
  font-size: 1.1 rem;
}

.skills {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 1fr;
      grid-template-columns: 50% 1fr;
  width: 90%;
  margin: 0 auto;
  border-radius: 50px;
  background: rgba(46, 236, 21, 0.808);
  -webkit-box-shadow: 0 1px 10px #1a1717;
          box-shadow: 0 1px 10px #1a1717;
}

.skills p {
  margin-top: 10px;
}

.skills .skillsContainer {
  padding: 20px 50px;
}

.skills .logo {
  text-align: center;
  margin: auto;
}

.skills .logo img {
  border-radius: 50px;
}
/*# sourceMappingURL=style.css.map */