@font-face {
  font-family: "font-1";
  src: url(../assets/fonts/Acme-Regular.ttf);
}

@font-face {
  font-family: "font-2";
  src: url(../assets/fonts/Roboto-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #020024;
  background: -webkit-gradient(linear, left top, right top, from(rgba(2, 0, 36, 0.212)), color-stop(35%, rgba(64, 192, 224, 0.85)), to(rgba(0, 213, 255, 0.616)));
  background: linear-gradient(90deg, rgba(2, 0, 36, 0.212) 0%, rgba(64, 192, 224, 0.85) 35%, rgba(0, 213, 255, 0.616) 100%);
  font-family: "font-1";
}

footer {
  text-align: center;
  margin-bottom: 20px;
}

#aboutMe {
  padding-top: 50px;
}

#skills {
  padding-top: 90px;
}

#experience {
  padding-top: 50px;
}

#myWork {
  padding-top: 50px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto 0;
  padding: 20px;
  position: fixed;
  width: 100%;
  height: 80px;
  background: #40c0e0;
  border-radius: 50px;
  border: 2px solid grey;
  z-index: 1;
}

nav h3 {
  font-size: 2rem;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li {
  color: black;
  font-size: 1.2rem;
  margin: auto 10px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

nav ul li:hover {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  color: #060af7;
}

header {
  padding-top: 150px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 1fr;
      grid-template-columns: 50% 1fr;
  width: 90%;
  margin: 0 auto;
}

header .leftTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .leftTitle h1 {
  font-size: 4rem;
}

header .leftTitle button {
  width: 150px;
  height: 50px;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: "font-2";
  background: #40c0e0;
  border-radius: 20px;
  border-style: none;
  -webkit-box-shadow: 0 1px 10px rgba(26, 23, 23, 0.575);
          box-shadow: 0 1px 10px rgba(26, 23, 23, 0.575);
  cursor: pointer;
  -webkit-transform: 0.2s;
          transform: 0.2s;
}

header .leftTitle button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #060af7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .rightTitle {
  background: url(../assets/img/sorcier.jpg) top/cover;
  width: 300px;
  height: 300px;
  border-radius: 150px;
  margin: 0 auto;
  -webkit-box-shadow: 0 1px 10px rgba(26, 23, 23, 0.836);
          box-shadow: 0 1px 10px rgba(26, 23, 23, 0.836);
  opacity: 0;
  -webkit-transition: 4s;
  transition: 4s;
}

.aboutMe {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 1fr;
      grid-template-columns: 50% 1fr;
  width: 90%;
  margin: 50px auto;
  gap: 100px;
}

.aboutMe h3 {
  font-size: 1.5rem;
  letter-spacing: 3px;
  line-height: 50px;
}

.aboutMe p {
  font-family: "font-2";
  font-size: 1.1rem;
}

.aboutMe .abilities li {
  font-family: "font-2";
  font-size: 1.1 rem;
}

.skills {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 1fr;
      grid-template-columns: 50% 1fr;
  width: 90%;
  margin: 0 auto;
  border-radius: 50px;
  background: #40c0e0;
  -webkit-box-shadow: 0 1px 10px #1a1717;
          box-shadow: 0 1px 10px #1a1717;
}

.skills span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.skills p {
  margin-right: 10px;
}

.skills .skillsContainer {
  padding: 20px 50px;
}

.skills .logo {
  text-align: center;
  margin: auto;
}

.skills .logo img {
  border-radius: 50px;
  -webkit-box-shadow: 0 1px 10px #1a1717;
          box-shadow: 0 1px 10px #1a1717;
  -webkit-transform: translateX(250%);
          transform: translateX(250%);
  -webkit-transition: 2s;
  transition: 2s;
}

.experience {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 1fr;
      grid-template-columns: 40% 1fr;
  max-width: 90%;
  margin: 50px auto;
}

.myWork {
  max-width: 90%;
  margin: 50px auto;
}

.myWork h4 {
  text-align: center;
  font-size: 3rem;
}

.myWork .integrations {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(64, 192, 224, 0.24);
  border-radius: 30px;
}

.myWork .integrations img {
  max-width: 100%;
  border-radius: 5px;
}

.myWork .integrations button {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px 20px;
  border-radius: 10px;
  border: none;
  -webkit-box-shadow: 0 1px 10px rgba(53, 52, 52, 0.411);
          box-shadow: 0 1px 10px rgba(53, 52, 52, 0.411);
  background: rgba(245, 245, 245, 0.74);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.myWork .integrations button:hover {
  background: black;
  color: whitesmoke;
}

.myWork .integrations > div {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 20% 1fr 20%;
      grid-template-rows: 20% 1fr 20%;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 25%;
          flex: 1 0 25%;
  min-width: 250px;
  max-width: 250px;
  margin: 10px;
  background-color: #2bbbdf;
  border-radius: 8px;
  padding: 20px 20px 20px;
  -webkit-box-shadow: 0 1px 10px rgba(53, 52, 52, 0.562);
          box-shadow: 0 1px 10px rgba(53, 52, 52, 0.562);
  opacity: 0;
  gap: 10px;
}

.myWork .integrations > div span {
  border-radius: 5px;
  height: 150px;
}

.myWork .integrations #int1 {
  -webkit-transition: 3s;
  transition: 3s;
}

.myWork .integrations #int1 span {
  background: url(../assets/img/bg-slider-06.jpg) center/cover;
}

.myWork .integrations #int2 {
  -webkit-transition: 4s;
  transition: 4s;
}

.myWork .integrations #int2 span {
  background: url(../assets/img/banner.jpg) center/cover;
}

.myWork .integrations #int3 {
  -webkit-transition: 5s;
  transition: 5s;
}

.myWork .integrations #int3 span {
  background: url(../assets/img/bg.jpg) center/cover;
}

.myWork .integrations #int4 {
  -webkit-transition: 6s;
  transition: 6s;
}

.myWork .integrations #int4 span {
  background: url(../assets/img/bggp.jpg) center/cover;
}

.contacts {
  max-width: 90%;
  margin: 50px auto;
}

.contacts .formContainer {
  display: -ms-grid;
  display: grid;
  max-width: 30%;
  margin: 10px auto;
}

.contacts .formContainer label {
  margin: 10px;
}

.contacts .formContainer input {
  border-radius: 5px;
  padding: 5px;
  background: rgba(245, 245, 245, 0.836);
  border: 0.5px solid #40c0e0;
  -webkit-box-shadow: 0 1px 10px rgba(53, 52, 52, 0.562);
          box-shadow: 0 1px 10px rgba(53, 52, 52, 0.562);
}

.contacts .formContainer textarea {
  border-radius: 5px;
  padding: 5px;
  background: rgba(245, 245, 245, 0.836);
  border: 0.5px solid #40c0e0;
  -webkit-box-shadow: 0 1px 10px rgba(53, 52, 52, 0.562);
          box-shadow: 0 1px 10px rgba(53, 52, 52, 0.562);
}

.contacts .formContainer input[type="submit"] {
  width: 50%;
  margin: 20px auto;
  border: none;
  background-color: rgba(43, 181, 216, 0.966);
}

.contacts .formContainer input[type="submit"]:hover {
  background-color: rgba(45, 155, 182, 0.966);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
/*# sourceMappingURL=style.css.map */