@charset "UTF-8";
@font-face {
  font-family: "font-1";
  src: url(../assets/fonts/Acme-Regular.ttf);
}

@font-face {
  font-family: "font-2";
  src: url(../assets/fonts/Roboto-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background: black;
  font-family: "font-1";
  color: aliceblue;
  overflow-x: hidden;
  position: relative;
}

footer {
  text-align: center;
  margin-bottom: 20px;
}

#aboutMe {
  padding-top: 50px;
}

#skills {
  padding-top: 90px;
}

#experience {
  padding-top: 50px;
}

#myWork {
  padding-top: 50px;
}

.navContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navContainer label, .navContainer #toggle {
  display: none;
}

@media all and (max-width: 770px) {
  .navContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .navContainer #nav {
    display: none;
    border-radius: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: black;
    height: 250px;
    width: 200px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 65px;
    margin-right: 10px;
  }
  .navContainer #nav h3 {
    font-size: 1.5rem;
  }
  .navContainer #nav ul {
    display: block;
    text-align: left;
    margin: 0;
    padding: 0;
  }
  .navContainer #nav #navIcon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navContainer #nav a {
    width: 50%;
  }
  .navContainer label {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px;
    font-size: 40px;
    color: aliceblue;
    cursor: pointer;
  }
  .navContainer label img {
    height: 50px;
  }
  .navContainer #toggle:checked + #nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.navContainer nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 20px;
  margin: 0 auto;
  position: fixed;
  width: 100%;
  height: 60px;
  background: black;
  border: none;
  -webkit-box-shadow: 0px 0px 8px 1px white;
          box-shadow: 0px 0px 8px 1px white;
  z-index: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navContainer nav h3 {
  cursor: pointer;
  margin: 0;
  font-size: 2rem;
  color: darkturquoise;
}

@media (max-width: 906px) {
  .navContainer nav h3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 855px) {
  .navContainer nav h3 {
    font-size: 1rem;
  }
}

.navContainer nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.navContainer nav ul li {
  color: aliceblue;
  font-size: 1.2rem;
  margin: 0 10px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media (max-width: 990px) {
  .navContainer nav ul li {
    font-size: 1rem;
  }
}

@media (max-width: 855px) {
  .navContainer nav ul li {
    font-size: 0.9rem;
  }
}

.navContainer nav ul li:hover {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.navContainer nav #navIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.headerContainer {
  background: url(../assets/img/smokeEffect1.jpg), url(../assets/img/smokeEffect2.jpg);
  background-position: 0px 0px;
  background-repeat: repeat-x;
  -webkit-animation: animatedBackground 40s linear infinite alternate;
          animation: animatedBackground 40s linear infinite alternate;
  min-height: 100vh;
  position: relative;
  display: -ms-grid;
  display: grid;
}

@-webkit-keyframes animatedBackground {
  from {
    background-position: 0 100%;
  }
  to {
    background-position: 100% 0;
  }
}

@keyframes animatedBackground {
  from {
    background-position: 0 100%;
  }
  to {
    background-position: 100% 0;
  }
}

.headerContainer::after {
  content: "";
  position: absolute;
  border-radius: 10px;
  height: 5px;
  width: 100%;
  background: black;
  bottom: 0;
  -webkit-box-shadow: 0 0 8px #fff, inset 0 0 8px #fff, 0 0 16px #c6e2ff, inset 0 0 16px #c6e2ff, 0 0 32px #c6e2ff, inset 0 0 32px #c6e2ff;
          box-shadow: 0 0 8px #fff, inset 0 0 8px #fff, 0 0 16px #c6e2ff, inset 0 0 16px #c6e2ff, 0 0 32px #c6e2ff, inset 0 0 32px #c6e2ff;
}

@media (max-width: 1300px) {
  .headerContainer {
    min-height: 80vh;
  }
}

@media (max-width: 770px) {
  .headerContainer {
    -ms-grid-rows: 25% 1fr;
        grid-template-rows: 25% 1fr;
  }
}

@media (max-width: 670px) {
  .headerContainer {
    -ms-grid-rows: 15% 1fr;
        grid-template-rows: 15% 1fr;
    min-height: 90vh;
  }
}

@media (max-width: 395px) {
  .headerContainer {
    -ms-grid-rows: 10% 1fr;
        grid-template-rows: 10% 1fr;
    min-height: 70vh;
  }
}

.headerContainer header {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -ms-grid-columns: 50% 1fr;
      grid-template-columns: 50% 1fr;
  width: 90%;
  margin: 0 auto;
  gap: 20px;
}

@media (max-width: 670px) {
  .headerContainer header {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 50% 1fr;
        grid-template-rows: 50% 1fr;
        grid-template-areas: "picture" "title";
  }
  .headerContainer header .rightTitle {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: picture;
  }
  .headerContainer header .leftTitle {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: title;
  }
}

@media (max-width: 395px) {
  .headerContainer header {
    gap: 0;
  }
}

.headerContainer header .leftTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1000px) {
  .headerContainer header .leftTitle {
    display: -ms-grid;
    display: grid;
  }
}

@media (max-width: 670px) {
  .headerContainer header .leftTitle {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

.headerContainer header .leftTitle h1 {
  font-size: 4rem;
}

@media (max-width: 1220px) {
  .headerContainer header .leftTitle h1 {
    font-size: 3rem;
  }
}

@media (max-width: 395px) {
  .headerContainer header .leftTitle h1 {
    font-size: 2rem;
  }
}

.headerContainer header .leftTitle button {
  width: 80px;
  height: 80px;
  margin: 20px;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: "font-2";
  color: aliceblue;
  background: none;
  border-radius: 150px;
  border-style: none;
  -webkit-box-shadow: 0px 0px 8px 1px white;
          box-shadow: 0px 0px 8px 1px white;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.headerContainer header .leftTitle button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.headerContainer header .leftTitle img {
  -webkit-transform: scale(2);
          transform: scale(2);
}

.headerContainer header .rightTitle {
  background: url(../assets/img/nDuboisPhoto4.jpg) top/cover;
  width: 300px;
  height: 300px;
  border-radius: 150px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 8px 1px white;
          box-shadow: 0px 0px 8px 1px white;
  opacity: 0;
  -webkit-transition: 4s;
  transition: 4s;
}

@media (max-width: 1220px) {
  .headerContainer header .rightTitle {
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 395px) {
  .headerContainer header .rightTitle {
    width: 200px;
    height: 200px;
  }
}

.aboutMe {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 1fr;
      grid-template-columns: 50% 1fr;
  width: 90%;
  margin: 50px auto;
  gap: 100px;
}

@media (max-width: 770px) {
  .aboutMe {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
}

.aboutMe h3 {
  font-size: 1.5rem;
  letter-spacing: 3px;
  line-height: 50px;
}

.aboutMe h4 {
  font-style: italic;
}

.aboutMe p {
  font-family: "font-2";
  font-size: 1.1rem;
  padding-bottom: 20px;
}

.aboutMe h5 {
  font-size: 1.2rem;
  letter-spacing: 3px;
  color: darkgoldenrod;
}

.aboutMe h6 {
  font-family: "font-2";
  font-size: 1.2rem;
  font-weight: 900;
  color: #766a6a;
}

.aboutMe span {
  font-family: "font-2";
}

.aboutMe .abilities li {
  font-family: "font-2";
  font-size: 1.1 rem;
  line-height: 35px;
}

.aboutMe .abilities li img {
  margin-right: 10px;
}

.skills {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 1fr;
      grid-template-columns: 50% 1fr;
  width: 90%;
  margin: 0 auto;
  border-radius: 50px;
  background: linear-gradient(160deg, rgba(2, 0, 36, 0.212) 0%, rgba(64, 192, 224, 0.85) 35%, rgba(69, 125, 136, 0.62) 100%);
  -webkit-box-shadow: 0px 0px 8px 1px white;
          box-shadow: 0px 0px 8px 1px white;
}

@media (max-width: 1020px) {
  .skills {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    padding-bottom: 10px;
  }
}

.skills h3 {
  letter-spacing: 3px;
}

.skills em {
  color: darkgoldenrod;
}

.skills span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}

.skills p {
  margin-right: 10px;
  font-family: font-2;
}

.skills .skillsContainer {
  padding: 20px 50px;
}

@media (max-width: 305px) {
  .skills .skillsContainer {
    padding: 20px 20px;
  }
}

.skills .logoSkills {
  text-align: center;
  margin: auto;
}

.skills .logoSkills img {
  border-radius: 40px;
  -webkit-box-shadow: 0px 0px 8px 1px white;
          box-shadow: 0px 0px 8px 1px white;
  -webkit-transform: translateX(1000px);
          transform: translateX(1000px);
  -webkit-transition: 2s;
  transition: 2s;
}

@media (max-width: 500px) {
  .skills .logoSkills img {
    display: none;
  }
}

.myWork {
  max-width: 90%;
  margin: 50px auto;
}

.myWork h4 {
  text-align: center;
  font-size: 3rem;
  letter-spacing: 3px;
}

@media (max-width: 305px) {
  .myWork h4 {
    font-size: 2rem;
  }
}

.myWork .integrations {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: linear-gradient(160deg, rgba(2, 0, 36, 0.212) 0%, rgba(64, 192, 224, 0.85) 35%, rgba(69, 125, 136, 0.62) 100%);
  -webkit-box-shadow: 0px 0px 8px 1px white;
          box-shadow: 0px 0px 8px 1px white;
  border-radius: 50px;
}

@media (max-width: 350px) {
  .myWork .integrations {
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.myWork .integrations h3 {
  margin: 0;
}

.myWork .integrations ul {
  margin: 0;
  padding: 0;
  text-align: left;
  font-family: font-2;
  color: darkgoldenrod;
  line-height: 15px;
}

.myWork .integrations img {
  max-width: 100%;
  border-radius: 5px;
}

.myWork .integrations button {
  padding: 5px 20px;
  border-radius: 10px;
  border: none;
  -webkit-box-shadow: 0px 0px 3px 0px white;
          box-shadow: 0px 0px 3px 0px white;
  background: rgba(245, 245, 245, 0.74);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.myWork .integrations button:hover {
  background: linear-gradient(160deg, rgba(2, 0, 36, 0.78) 0%, #40c0e0 35%, #457d88 100%);
}

.myWork .integrations > div {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10% 20% 1fr;
      grid-template-rows: 10% 20% 1fr;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 25%;
          flex: 1 0 25%;
  min-width: 250px;
  max-width: 250px;
  min-height: 350px;
  margin: 10px;
  background-color: black;
  -webkit-box-shadow: 0px 0px 8px 1px white;
          box-shadow: 0px 0px 8px 1px white;
  border-radius: 50px;
  padding: 20px 20px 20px;
  opacity: 0;
  gap: 10px;
}

@media (max-width: 305px) {
  .myWork .integrations > div {
    min-width: 200px;
  }
}

.myWork .integrations > div span {
  border-radius: 5px;
  height: 150px;
}

.myWork .integrations #int1 {
  -webkit-transition: 1s;
  transition: 1s;
}

.myWork .integrations #int1 span {
  background: url(../assets/img/bg-slider-06.jpg) center/cover;
}

.myWork .integrations #int2 {
  -webkit-transition: 2s;
  transition: 2s;
}

.myWork .integrations #int2 span {
  background: url(../assets/img/bg.jpg) center/cover;
}

.myWork .integrations #int3 {
  -webkit-transition: 3s;
  transition: 3s;
}

.myWork .integrations #int3 span {
  background: url(../assets/img/banière_.png) center/cover;
}

.myWork .integrations #int4 {
  -webkit-transition: 4s;
  transition: 4s;
}

.myWork .integrations #int4 span {
  background: url(../assets/img/MeetApp2.png) center/cover;
}

.contacts {
  background: url(../assets/img/smokeEffect2.jpg) right/cover;
  background-position: 0px 0px;
  background-repeat: repeat-y;
  -webkit-animation: animatedBackground 30s linear infinite alternate;
          animation: animatedBackground 30s linear infinite alternate;
  max-width: 90%;
  margin: 50px auto;
}

@keyframes animatedBackground {
  from {
    background-position: 100% 0;
  }
  to {
    background-position: 0 100%;
  }
}

.contacts h3 {
  letter-spacing: 3px;
}

.contacts form {
  position: relative;
}

.contacts form .formContainer {
  display: -ms-grid;
  display: grid;
  max-width: 30%;
  margin: 10px auto;
}

@media (max-width: 1200px) {
  .contacts form .formContainer {
    max-width: 40%;
  }
}

@media (max-width: 1000px) {
  .contacts form .formContainer {
    max-width: 50%;
  }
}

@media (max-width: 800px) {
  .contacts form .formContainer {
    max-width: 60%;
  }
}

@media (max-width: 600px) {
  .contacts form .formContainer {
    max-width: 70%;
  }
}

@media (max-width: 450px) {
  .contacts form .formContainer {
    max-width: 80%;
  }
}

.contacts form .formContainer label {
  margin: 10px;
}

.contacts form .formContainer input {
  border-radius: 25px;
  padding: 5px;
  background: rgba(245, 245, 245, 0.836);
  border: 0.5px solid #40c0e0;
  -webkit-box-shadow: 0 1px 10px rgba(53, 52, 52, 0.562);
          box-shadow: 0 1px 10px rgba(53, 52, 52, 0.562);
}

.contacts form .formContainer textarea {
  border-radius: 25px;
  padding: 5px;
  resize: none;
  background: rgba(245, 245, 245, 0.836);
  border: 0.5px solid darkturquoise;
  -webkit-box-shadow: 0 1px 10px rgba(53, 52, 52, 0.562);
          box-shadow: 0 1px 10px rgba(53, 52, 52, 0.562);
}

.contacts form .formContainer input[type="submit"] {
  width: 50%;
  border-radius: 50px;
  margin: 20px auto;
  border: none;
  background: linear-gradient(160deg, rgba(2, 0, 36, 0.212) 0%, rgba(64, 192, 224, 0.85) 35%, rgba(69, 125, 136, 0.62) 100%);
  color: black;
  font-weight: 600;
  -webkit-box-shadow: 0px 0px 8px 1px white;
          box-shadow: 0px 0px 8px 1px white;
}

.contacts form .formContainer input[type="submit"]:hover {
  background-color: aliceblue;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

footer {
  position: relative;
}

footer::before {
  content: "";
  position: absolute;
  border-radius: 10px;
  height: 5px;
  width: 30%;
  background: black;
  top: 50%;
  left: 25%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-shadow: 0 0 8px #fff, inset 0 0 8px #fff, 0 0 16px #c6e2ff, inset 0 0 16px #c6e2ff, 0 0 32px #c6e2ff, inset 0 0 32px #c6e2ff;
          box-shadow: 0 0 8px #fff, inset 0 0 8px #fff, 0 0 16px #c6e2ff, inset 0 0 16px #c6e2ff, 0 0 32px #c6e2ff, inset 0 0 32px #c6e2ff;
}

@media (max-width: 820px) {
  footer::before {
    display: none;
  }
}

footer::after {
  content: "";
  position: absolute;
  border-radius: 10px;
  height: 5px;
  width: 30%;
  background: black;
  top: 50%;
  left: 75%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-box-shadow: 0 0 8px #fff, inset 0 0 8px #fff, 0 0 16px #c6e2ff, inset 0 0 16px #c6e2ff, 0 0 32px #c6e2ff, inset 0 0 32px #c6e2ff;
          box-shadow: 0 0 8px #fff, inset 0 0 8px #fff, 0 0 16px #c6e2ff, inset 0 0 16px #c6e2ff, 0 0 32px #c6e2ff, inset 0 0 32px #c6e2ff;
}

@media (max-width: 820px) {
  footer::after {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */